<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="local" value="C:\Users\gsingh2\OneDrive - Siemens Healthineers\CODE\dotnetcore\Grpc\packages" />
  </packageSources>
</configuration>